<div class="row">
  <div class="col-md-3"></div>
  

  <h1> New Products</h1>
  <%= form_tag "/products/#{params[:id]}", method: :post %>
  <div class="form-group">
    <%= label_tag :name%>
    <%= text_field_tag :name, @product.name , class: "form-control"%>
  </div>

  <div>
    <%= label_tag :price%>
    <%= text_field_tag :price, @product.price%>
  </div>
  
  <div>
    <%= label_tag :breed%> 
    <%=text_field_tag :breed%>
  </div>

  <div>
    <%= label_tag :color%> 
    <%=text_field_tag :color%>
  </div>
  
  <div> 
    <%= submit_tag "Create product" %> 
  </div>

</div>