  <h3>Show Page!!!</h3>
  <div class = "bhanu col-md-3" >
    <ul>
      <li>Name:<%= @product.name %> </li>
      <li class= "total">Price:<%= @product.price %></li>
      <li>Breed:<%= @product.breed%></li>
      <li>Color:<%= @product.color %></li>
       <li>Tax:<%= @product.tax %></li>
        <li >Total:<%= @product.total %></li>
         
    </ul>
  </div>
    
 <%= link_to "Edit", "/products/#{@product.id}/edit" %>
 <%= link_to "Delete", "/products/#{@product.id}", method: :delete %>